psycopg2-binary==2.9.9
geopandas
matplotlib
contextily
pillow
matplotlib-scalebar
cartopy
rasterio
mapclassify
pyproj
flask
flask-login
gunicorn
python-dotenv
requests
pysocks
shapely
pandas
openpyxl
gspread
google-auth
