@use '../../base/variables' as v;

.btn-enviar { background: var(--naranja); border: none; font-weight: 700; padding: .85rem;
              border-radius: 12px; font-size: 1.02rem; }
.btn-enviar:disabled { opacity: .6; }
#okScreen, #errScreen { display: none; }
#okScreen .bi, #errScreen .bi { font-size: 3.2rem; }
